<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta name="robots" content="noindex, follow" />

    <style type="text/css">

	    html, body, #wrapper {
		   height:100%;
		   width: 100%;
		   margin: 0;
		   padding: 0;
		   border: 0;
		    overflow: hidden;
		}

		#wrapper td {
		   vertical-align: middle;
		   text-align: center;
		}

    </style>
</head>
<body style="background-color:{{ hexColor }};">

   <table id="wrapper">
      <tr>
         <td><a href="{{ returnUrl }}"><img src="{{ photoUrl }}" style="border-width:0px;" width="{{ width }}" /></a></td>
      </tr>
   </table>


</body>
</html>
